// Colores Principales

$colores: #ecfaff,#d4f2ff,#b2e9ff,#7ddeff,#40c8ff,#14a7ff,#0086ff,#006eff,#0056c7,#084da0,#0a2f61, #b2e9ff8e, #181818, #bbb;

// medidas Principales

$width-base: 100%;
$height-base: 100vh;
$padding-base: 10px;
$gap-base: 10px;